
.quicksand-primary {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.font-bold{
    font-weight: 700;
}
.display{
    display: flex;
}
.btn-primary{
    background-color: #FEA301;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 60.5px;
    border: none;
}
/* navbar section */
.navbar{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 20px auto;
    padding: 0 20px;
}
.navbar-left{
    width: 202px;
    height: 62px;
    align-items: center;
    gap: 11px;
}
.navbar-left h3{
font-size: 2rem;
color: rgba(17, 17, 17, 1);
}
.navbar-middle{
    list-style: none;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
}
.home{
    font-size: 1.25rem;
    color: #FEA301;
}
.about{
    font-size: 1.25rem;
    color: #01ACFD;
}
.facilities{
    font-size: 1.25rem;
    color: #05D4DF;
}
.admission{
    font-size: 1.25rem;
    color: #5D58EF;
}
.nav-button{
    width: 197px;
    height: 50px;
}
.hamburger-menu{
    display: none;
}
/* banner section */
.banner{
    max-width: 1158px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    padding: 0 20px;
}
.banner-content{
    gap: 24px;
}
.banner-content h2{
    font-weight: 700;
    font-size: 3.5rem;
    color: #111111;
    margin-bottom: 24px;
}
.break{
    display: none;
}
.empower{
    color: #FEA301;
}
.vision{
    color: #01ACFD;
}
.banner-content p{
    font-weight: 400;
    font-size: 1.25rem;
    color: #111111;
}
.banner-content button{
    background-color: #111111;
}
.banner-img img{
    width: 100%;
}
/* standard curriculum */
.curriculum{
    background-image: url(../assets/bg.png);
}
.curriculum h3{
    color: #000000;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 60px;
}
.curriculum-card{
    text-align: center;
    gap: 28.29px;
    justify-content: center;
    margin-top: 80px;
}
.curriculum-header{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
    text-align: center;
}
.curriculum-text{
    font-weight: 500;
    font-size: 0.94rem;
    color: #808080;
    text-align: center;
}
.card-1{
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
    border: 1px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 100%);
    padding: 52.82px 40.67px 58.48px 40.88px;
}
.card-1a{
    text-decoration: none;
    color: #64C8FF;
    font-weight: 700;
    font-size: 0.94rem;
}
.card-2{
    border-radius: 18.86px;
    border: 1px solid #FFF4DC;
    padding: 52.82px 40.67px 58.48px 40.88px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 100% );
}
.card-2a{
    color: #F0AA00;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.94rem;
}
.card-3{
    border-radius: 18.86px;
    border: 1px solid #F2E8FF;
    padding: 52.82px 40.67px 58.48px 40.88px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #F2E8FF 0%, #FFFFFF 100% );
}
.card-3a{
    color: #8700FF;    
    text-decoration: none;
    font-weight: 700;
    font-size: 0.94rem;
}
.arrow-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.circle-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FEA301;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow{
    display: block;
    width: 16px;
    height: 16px;
    border: solid #FFFFFF;
    border-width: 0 4px 4px 0;
    padding: 3px;
}
.left{
    transform: rotate(135deg);
}
.right{
    transform: rotate(-45deg);
}
.circle-btn:hover, .circle-btn:focus-visible{
    background: #ffcf4c;
    box-shadow: 0 6px 24px rgba(255,186,22,0.35),0 2px 8px rgba(0,0,0,0.10);
    transform: translateY(-3px) scale(1.06);

}
/* our stories section */
.our-stories{
    width: 100%;
    background: linear-gradient(to bottom,rgba(255,255,255,0.92) 0%,rgba(254, 163, 1, 0.3) 100%),url('../assets/bg.png');
    padding-bottom: 60px;  
}
.story{
    display: flex;
    gap: 18.73px;
    justify-content: center;
    margin: auto;
    width: 367px;
}
.our-stories h3{
    font-weight: 700;
    font-size: 2.8rem;
    color: #000000;
    text-align: center;
}
.article-left{
    border-radius: 16px;
    background-color: #FFFFFF;
    height: 630px;
    display: flex;
    flex-direction: column;
}
.article-left img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-header{
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    margin: 36.43px 38.08px 47.93px 38.35px;
}
.story-text{
    font-weight: 500;
    font-size: 0.96rem;
    color: #666666;
    margin: 0 68.86px 34.32px 38.35px;
    line-height: 28.8px;
}
.date-pill{
    display: inline-block;
    background: #3CD8E8;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.96rem;
    border-radius: 47.93px;
    line-height: 28.8px;
    padding: 14.38px 18.88px 15.34px 19.17px;
    width: 174.51px;
    height: 47.93px;
    margin-top: -25.08px;
    margin-left: 38.35px;
}
.article-1 p,.article-2 p,.article-3 p,.article-4 p{
    font-weight: 700;
    font-size: 0.96rem;
    color: #000000;
    margin: 19.17px 38.66px 28.55px 38.35px;
    width: 214px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.article-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19.39px;
}
.article-1,.article-2,.article-3,.article-4{
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 290.69px;
    height: 301.61px;
}
.article-1 img, .article-2 img, .article-3 img, .article-4 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
.date-pill-1, .date-pill-2, .date-pill-3, .date-pill-4{
    display: inline-block;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.96rem;
    border-radius: 47.93px;
    padding: 9.59px 18.88px 10.55px 19.17px;
    max-width: 136.46px;
    height: 18.22px;
    margin-left: 38.35px;
    width: 100%;  
}
.date-pill-1, .date-pill-3, .date-pill-4{
    background: rgba(149, 178, 38, 1);
}
.date-pill-2{
    background: #5D58F0;
}
.our-stories button{
    background-color: #111111;
}
.story-button{
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
.article-down{
    margin-top: -20px;
}
.media{
    display: none;
}
/* footer section */

.footer-section{
    background-color: #01ACFD;
    display: flex;
    justify-content: center;
    height: 519px;;
}
.footer-title{
    font-weight: 700;
    font-size: 2.6rem;
    color: #FFFFFF;
}
.footer-text{
    font-weight: 400;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.footer-middle{
    list-style: none;
    margin-right: 143.16px;
    margin-top: 123px;
}
.foot-head{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 123px;
}
.feet{
    margin-bottom: 32px;
}
.foot-gap li{
    margin-bottom: 20px;
}
.footer-link{
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    text-decoration: none;
}
.foot-right-head{
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-top: 127px;
}
.footer-logo{
    display: flex;
    gap: 10px;
}
.footer-header{
    display: flex;
    width: 299.71px;
    gap: 11px;
    align-items: center;
}
.footer-left{
    margin-right: 172.71px;
    margin-top: 88px;
}
.footer-header img{
    max-width: 82.9px;
    height: 81.65px;
   width: 100%;
}

